$pagination-size: em(25)

.pagination
  +clearfix
  margin-bottom: 2rem
  text-align: center
  li
    display: inline-block
    a
      background: #fff
      margin-left: .2em
      width: $pagination-size
      height: $pagination-size
      border-radius: 50%
      display: inline-block

    span
      color: #fff
      width: $pagination-size
      height: $pagination-size
      display: inline-block


