!!!
%html
  %head
    %title RailsAndReact
    %link{href: "http://fonts.googleapis.com/css?family=Fjalla+One|Average+Sans", rel: "stylesheet", type: "text/css"}/

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #main_wrapper
      = yield
